.header {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    z-index: 9999;

    &__container {
        display: flex;
        align-items: center;
    }

    &__img:hover {
        opacity: 0.5;
    }

    &__img:active {
        opacity: 1;
    }

    &__img {
        text-decoration: none;
    }

   
    &__nav-bar {
        display: flex;
        margin-left: auto;
        align-items: center;
        list-style-type: none;
    }

    &__nav-list {
        display: flex;
        margin-left: auto;
        align-items: center;
        list-style-type: none;
    }

    &__nav-item {
        padding: 30px 10px;
        opacity: 0.5;
        cursor: pointer;
    }

    &__item-link {
        margin: 0;
        font-family: " Barlow ";
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: #83888f;
    }
    
    &__nav-item:hover {
        opacity: 1;
    }

    &__nav-item:active {
        opacity: 0.5;
    }

}